extends layout_admin

block content
	div.container
		div.row
			div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
				h1.text-center.login-title Users List
					table.table.table-striped.table-bordered
						caption Users list
						thead
							tr
								th Username
								th Email
								th Name
								th Role
						tbody
							for user in users
								tr
									td #{user.username}
									td #{user.email}
									td #{user.firstName} #{user.lastName}
									td #{user.role}
